*.framework filter=lfs diff=lfs merge=lfs -text
Release/AudioKit.framework/AudioKit filter=lfs diff=lfs merge=lfs -text
Release/AudioKitUI.framework/AudioKitUI filter=lfs diff=lfs merge=lfs -text
Release-iphoneos/AudioKit.framework/AudioKit filter=lfs diff=lfs merge=lfs -text
Release-iphoneos/AudioKitUI.framework/AudioKitUI filter=lfs diff=lfs merge=lfs -text
Release-iphonesimulator/AudioKit.framework/AudioKit filter=lfs diff=lfs merge=lfs -text
Release-iphonesimulator/AudioKitUI.framework/AudioKitUI filter=lfs diff=lfs merge=lfs -text
